.item-form-container{
  margin-top: 3vh;
  flex: 3;

}
.form-header{
  flex: 0.8;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.button-container{

  font-size: 0.9rem;

  flex: 0.9;
  display: flex;
  justify-content: center;
}

.item-form{
  margin-right: 2vw;
  width: 21vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.save-button{
  text-align: center;
  background-color: #F7A00C;
  height: 3vh;
  padding: 2vh 2vw;
  border-radius: 10px;
  color: white;
  &:hover{
  cursor: pointer;
}
}
.cancel-button{
  text-align: center;
  height: 3vh;
  padding: 2vh 2vw;
  &:hover{
    cursor: pointer;
  }

}



