.header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.highlight-header{
    
    color: #F7A00C;
}
.title{
    font-size: 0.7rem;
    color: black;
    width: 50%;
}